body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: auto;
  margin: 0 0 30px;
  overflow: hidden;
  color: #fff;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 660px) {
  #masthead {
    position: static;
  }
}


#logo {
  float: left;
  width: 250px;
  height: auto;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 3;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

@media screen and (max-width: 375px) {
  #logo {
    display: inline-flex;
    width: auto;
    height: auto;
    line-height: 1;
    font-weight: 250;
    font-size: auto;
    text-align: center;
  }
}




#navbarNavy {
  float: inline-right;
}

.navbar {
  /* float: clear; */
  margin-top: 1px;
}

.nav-item, .nav-item-name {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-spacing: 3px;
  border-left: 2px solid #efefef;
  border-right: 2px solid #efefef;
}

.nav-item:first-child {
  padding-left: 600px;
}


/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

@media screen and (max-width: 660px) {
footer {
    position: static;
  }
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

/* main */

#main-container {
  padding-top: 90px;
  min-height: calc(100vh - 70px);
}

.img-fluid {
  max-width: 50%;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #ddd;
  height: 100%;
}

.side-section {
  float: right;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #ddd;
  height: 100%;
}


/* portfolio page */

.work {
  position: relative;
  float: left;
  width: auto;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: auto;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: auto;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}


div#main-container.container.container-fluid {
  margin-left: 35px;
  max-height: fit-content;
  }


.auth-image {
  float: left;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

@media screen and (max-width: 980px) {
 .work {
  max-width: 50%;
  columns: 2;
  display: inline;   
  }
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}